.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  display: hidden;
  visibility: hidden;
  z-index: 999;
  font: 700 16px/20px Cabinet Grotesk, Arial, sans-serif;
}

.modal_open {
  visibility: visible;
}

.modal__container {
  position: relative;
  background-color: #ffffff;
  padding: 28px 28px 36px;
  border-radius: 20px;
  width: 496px;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__title {
  font-family: CabinetGrotesk-Bold, Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: rgba(0, 0, 0, 1);
  margin: 0;
  padding-bottom: 20px;
}

.modal__close {
  padding: 0;
  background-color: transparent;
  border-style: none;
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

.modal__label {
  width: 42px;
  height: 20px;
  border-style: none;
  font-family: CabinetGrotesk-Bold, Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.modal__input {
  width: 440px;
  height: 24px;
  border: none;
  border-bottom: solid;
  border-radius: 1px;
  border-color: rgba(0, 0, 0, 1);
  color: rgba(0, 0, 0, 1);
  margin-bottom: 24px;
  border-width: 1px;
  font-family: CabinetGrotesk-Bold, Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.modal__image {
  width: 440px;
  height: 29px;
  border: none;
  border-bottom: solid;
  border-radius: 1px;
  border-color: rgba(0, 0, 0, 1);
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 28px;
  border-width: 1px;
  font-family: CabinetGrotesk-Bold, Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: rgba(0, 0, 0, 1);
}

.modal__radio-input {
  margin-right: 8px;
}

.modal__radio-container {
  margin-bottom: 8px;
}

.modal__radio-buttons {
  display: grid;
  height: 108px;
  width: 173px;
  border-style: none;
  font-family: CabinetGrotesk-Bold, Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
}

.modal__legend {
  margin-bottom: 12px;
}

.modal__input_type_radio {
  border: none;
  color: rgba(0, 0, 0, 0.5);
}

.modal__input_type_radio-hot {
  color: rgba(0, 0, 0, 1);
}

.modal__submit-button {
  margin-top: 24px;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 8px 16px;
  border-radius: 4px;
  border-style: none;
  cursor: pointer;
  font: 16px/20px CabinetGrotesk, Arial, Helvetica, sans-serif;
}

.modal__span-button {
  margin: 0;
  width: 73px;
  height: 20px;
  font: 700 16px/20px CabinetGrotesk, Arial, Helvetica, sans-serif;
  border: none;
  cursor: pointer;
  padding: 0 0 0 12px;
  white-space: nowrap;
  background: transparent;
  color: rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 620px) {
  .modal {
    align-items: flex-end;
  }

  .modal__container {
    border: none;
    border-radius: 20px 20px 0 0;
  }
}
