.card {
  position: relative;
  color: #00000099;
}

.card__name {
  background-color: #fff;
  font: 500 16px/20px Cabinet Grotesk, Arial, sans-serif;
  width: 73px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  position: absolute;
  top: 15px;
  left: 125px;
  cursor: default;
}

.card__image {
  width: 325px;
  height: 325px;
  border-radius: 19px;
  border: 1px solid #0000004d;
  cursor: pointer;
}

@media screen and (max-width: 620px) {
  .card__name {
    margin: 0;
    padding: 2px 0;
    top: 7px;
    left: 45px;
  }

  .card__image {
    width: 162px;
    height: 162px;
  }
}
