.card {
  display: flex;
  width: 325px;
  height: 328px;

  justify-content: center;
}

.card__image {
  width: 100%;
  height: 100%;
  border-radius: 19px;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.3);
}

.item__name {
  background-color: #f3f3f3;
  border-radius: 4px;
  max-width: 91px;
  max-height: 24px;
  margin: 0;
  font: 500 16px/20px Cabinet Grotesk, Arial, sans-serif;
  padding: 0;
  color: rgba(0, 0, 0, 0.6);
  margin: 4px 10px 5px 0;
  padding: 2px 12px;
}

.card__like-btn {
  width: 18px;
  height: 15px;
}

.card__wrapper {
  display: flex;
  position: absolute;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  height: 50px;
  width: fit-content;
}

@media screen and (max-width: 620px) {
  .item__name {
    margin: 0;
    padding: 2px 0;
    top: 7px;
    left: 45px;
  }

  .card__image {
    width: 162px;
    height: 162px;
  }
}
