.modal__content_type_delete {
  padding: 0;
  width: 670px;
  height: 280px;
  border-style: none;
  position: relative;
  font-family: Cabinet Grotesk, Arial, sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  border-radius: 20px;
}

.modal__delete_question {
  margin: 0;
}

.modal__confirm {
  color: #ff4d00;
  border: none;
  background-color: transparent;
  margin: 40px auto 0;
  cursor: pointer;
  font-weight: 700;
}

.modal__cancel {
  border: none;
  background-color: transparent;
  margin: 24px auto 0;
  cursor: pointer;
  font-weight: 700;
}

@media screen and (max-width: 620px) {
  .modal__content_type_delete {
    padding: 30px 20px;
    border-radius: 20px 20px 0 0;
  }
}
