.cards {
  font-family: Cabinet Grotesk, Arial, sans-serif;
}

.cards__text {
  font-size: 20px;
  line-height: 24px;
}

.cards__list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 0;
}

@media screen and (max-width: 620px) {
  .cards__list {
    padding: 0;
    gap: 15px;
  }

  .cards__text {
    margin: 20px 0;
  }
}
