.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 32px;
  white-space: nowrap;
  max-height: 40px;
  margin-bottom: 28px;
}

.header__logo {
  margin-right: 24px;
}

.header__user-container {
  display: flex;
  width: 293px;
  height: 25px;
  font-family: CabinetGrotesk-Bold, Arial, Helvetica, sans-serif;
  line-height: 24px;
  margin-left: 666px;
}

.header__username {
  margin-top: 8px;
  margin-bottom: 7px;
  margin-right: 12px;
  max-width: 157px;
  max-height: 25px;
  font-size: 20px;
  line-height: 25px;
}

.header__add-clothes-btn {
  border: none;
  max-width: 116px;
  max-height: 24px;
  line-height: 24px;
  font-size: 20px;
  margin: 8px 20px 8px 20px;
  padding: 0;
  font-family: CabinetGrotesk-Bold, Arial, Helvetica, sans-serif;
}

.header__sign-up-btn {
  border: none;
  max-width: 116px;
  max-height: 24px;
  line-height: 24px;
  font-size: 20px;
  margin: 8px 20px 8px 20px;
  padding: 0;
  font-family: CabinetGrotesk-Bold, Arial, Helvetica, sans-serif;
}

.header__log-in-btn {
  border: none;
  max-width: 116px;
  max-height: 24px;
  line-height: 24px;
  font-size: 20px;
  margin: 8px 20px 8px 20px;
  padding: 0;
  font-family: CabinetGrotesk-Bold, Arial, Helvetica, sans-serif;
}

.date {
  font-family: CabinetGrotesk-Bold, Arial, Helvetica, sans-serif;
  height: 24px;
  width: 160px;

  font-size: 20px;
  line-height: 24px;
  margin-top: 11px;
  margin-bottom: 4px;
}

.header__avatar {
  width: 40px;
  height: 40px;
  border: 1px;
  margin-right: 40px;
  color: rgba(0, 0, 0, 0.5);
}

.header__avatar-placeholder {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  color: white;
  text-transform: uppercase;
}

@media screen and (max-width: 700px) {
  .header {
    font-size: 14px;
  }
}

@media screen and (max-width: 620px) {
  .header__nav {
    padding: 0;
    display: grid;
    grid-template-areas: "logo menuIcon" "time time";
  }

  .header__logo {
    grid-area: logo;
  }

  .header__menu {
    visibility: visible;
    justify-self: end;
    grid-area: menuIcon;
  }

  .header__date-location {
    margin: 0;
    grid-area: time;
  }
  .header__user-container {
    display: none;
  }

  .header__nav_mobile .header__user-container {
    display: grid;
    width: 100%;
    height: 208px;
    background-color: #ffffff;
    grid-template-areas:
      "name avatar"
      "addClothes addClothes";

    overflow: visible;
  }

  .header__nav_mobile .header__add-clothes-btn {
    grid-area: addClothes;
  }

  .header__nav_mobile .header__user-name {
    grid-area: name;
  }

  .header__user-name .header__user-image {
    grid-area: avatar;
  }
}
