.header {
  font: 500 20px/24px Cabinet Grotesk, Arial, sans-serif;
}

.header__nav {
  display: flex;
  align-items: center;
  padding: 32px 0 28px;
}

.header__logo {
}

.header__date-location {
  margin-left: 24px;
}

.header__user-container {
  display: flex;
  margin-left: auto;
  align-items: center;
}

.header__add-clothes-btn {
  border-style: none;
  cursor: pointer;
  background-color: transparent;
}

.header__user-name {
  margin-left: 20px;
  margin-right: 12px;
}

.header__user-image {
}

.header__menu {
  visibility: hidden;
  border: none;
}

@media screen and (max-width: 620px) {
  .header__nav {
    padding: 0;
    display: grid;
    grid-template-areas: "logo menuIcon" "time time";
  }

  .header__logo {
    grid-area: logo;
  }

  .header__menu {
    visibility: visible;
    justify-self: end;
    grid-area: menuIcon;
  }

  .header__date-location {
    margin: 0;
    grid-area: time;
  }
  .header__user-container {
    display: none;
  }

  .header__nav_mobile .header__user-container {
    display: grid;
    width: 100%;
    height: 208px;
    background-color: #ffffff;
    grid-template-areas:
      "name avatar"
      "addClothes addClothes";

    overflow: visible;
  }

  .header__nav_mobile .header__add-clothes-btn {
    grid-area: addClothes;
  }

  .header__nav_mobile .header__user-name {
    grid-area: name;
  }

  .header__user-name .header__user-image {
    grid-area: avatar;
  }
}
