.modal__content_type_image {
  width: 498px;
  padding: 0;
  border-style: none;
}

.modal__card_image {
  width: 498px;
  height: 498px;
  border-radius: 16px 16px 0 0;
  object-fit: cover;
}

.modal__footer {
  display: flex;
  justify-content: space-between;
  padding: 20px 32px;
  background: #ffffff;
  border-radius: 0 0 16px 16px;
}

.modal__card_name {
  font-size: 20px;
  line-height: 24px;
  margin: 0;
  padding: 0 0 12px;
}

.modal__card_weather {
  font-size: 20px;
  line-height: 24px;
  margin: 0;
}

.modal__footer_delete {
  margin: 0;
}

.modal__card_delete {
  color: #ff4d00;
  border: none;
  background-color: transparent;
  cursor: pointer;
  font: 20px/20px Cabinet Grotesk-Bold, Arial, sans-serif;
}

@media screen and (max-width: 620px) {
  .modal__content_type_image {
    max-width: 343px;
  }

  .modal__card_image {
    max-width: 343px;
    height: 343px;
  }

  .modal__footer {
    padding: 20px 20px;
  }
}
