.sidebar-page {
  display: flex;
  width: 229px;
  height: 138px;
  margin-top: 19px;
  flex-direction: column;
}

.sidebar__username-wrapper {
  display: flex;
  align-items: center;
}

.sidebar__username {
  margin-top: 16px;
  max-height: 25px;
  font-family: CabinetGrotesk-Bold, Arial, Helvetica, sans-serif;
  font-size: 20px;
  line-height: 25px;
  padding: 0 0 0 16px;
}

.sidebar__avatar {
  width: 56px;
  height: 56px;
  border-radius: 50%;
}

.sidebar__change-prof {
  top: 100px;
  width: 171px;
  height: 25px;
  color: rgba(0, 0, 0, 1);
  font-family: CabinetGrotesk-Bold, Arial, Helvetica, sans-serif;
  font-size: 20px;
  line-height: 25px;
  white-space: nowrap;
  padding: 0;
  margin-top: 24px;
  margin-bottom: 8px;
  border: 0;
  background: white;
}

.sidebar__signout-btn {
  width: 65px;
  height: 25px;
  border: 1px;
  color: rgba(0, 0, 0, 1);
  font-family: CabinetGrotesk-Bold, Arial, Helvetica, sans-serif;
  font-size: 20px;
  line-height: 25px;
  white-space: nowrap;
  padding: 0;
  background: white;
}
