.modal__form-delete {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 670px;
  height: 280px;
}

.modal__confirm-button {
  gap: 8px;
  padding: 0 0 20px;
  border: none;
  background-color: rgba(255, 255, 255, 1);
  font-family: CabinetGrotesk-Bold, Arial, Helvetica, sans-serif;
  font-size: 20px;
  line-height: 24px;
  color: rgba(255, 77, 0, 1);
  text-align: center;
  white-space: nowrap;
}

.modal__title-delete {
  font-family: CabinetGrotesk-Bold, Arial, Helvetica, sans-serif;
  font-size: 20px;
  line-height: 24px;
  color: rgba(0, 0, 0, 1);
  margin: 0;
  padding-bottom: 20px;
  text-align: center;
}
